@charset "utf-8";

html,body{
	font-family: 'Oswald', sans-serif;
	width:100%;
	height:100%;
}
.navigation{
	position:fixed;
	z-index:1;
	top:40%;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
.cdlogotype{
	margin: 40px 0 0 20px;
}
.cdlogo{
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin: 20px 0 0 20px;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	top:20px;
	left:40px;
	font-size:100px;
	font-weight:bold;
	color:rgba(0,0,0,0.8);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#f4f4f4;
	background-image:url(../images/office01.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background: url(../images/slide2/shattered.png);
}
#slide2 img{
	
}
#slide2 img.kobstaden{
	position:absolute;
	top: 250px;
	left: 40%;
}
#slide2 img.rbb{
	position:absolute;
	top:90px;
	left:70%;
}
#slide2 img.sortesokker{
	position:absolute;
	top:700px;
	left:300px;
}
#slide2 img.socialdigits{
	position:absolute;
	top:650px;
	left:-80px;
}
#slide2 img.yourlook{
	position:absolute;
	top:300px;
	left:55%;
}
#slide2 img.kinento{
	position:absolute;
	top:800px;
	right:20px;
}
#slide2 img.avenue{
	position:absolute;
	top:750px;
	right:20px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#b6c10b;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color:#f4f4f4;
	background-image:url(../images/office02.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
